@CHARSET "EUC-KR";
.viewlogo {
	margin-top: 30px;
}
body {
	overflow: auto;
}
.content {
	width: auto;
	height: auto;
	margin-top: 50px;
	align: center;
}
.addSector {
	margin-top: 50px;
}
table {
	width: 600px;
}
table tr {
	text-align: center;
}
table td {
	padding: 10px;
}
a {
	white-space:nowrap;
}
#forButton {
	margin-bottom: 100px;
}