@CHARSET "EUC-KR";
.content {
	align: center;
	width: auto;
	height: auto;
}
.bottom {
	width: auto;
	margin-left: 25%;
}
#myCarousel {
	width: 40%;
}
.reservation {
	float: left;
	margin-left: 0;
	width: 25%;
}
.event {
	float: left;
	width: 30%;
	margin-left: 10%;
}
form #searchForm {
	margin-left: 20%;
}
#searchSector{
	margin-left: 70px; 
	align: left;
	width: 350px;
	border: none;
}
table #resultSector {
	float: left;
	text-align: left;
}
#imagelogo {
	margin-top: 20px;
	margin-left: 50px;
}
#imagelogo2 {
	margin-top: 20px;
	margin-left: 0px;
}
#eventlist {
	margin-top:50px;
}
.selectType {
	align: left;
	text-align: left;
}
#ourBusiness {
	margin-top: 50px;
}