@CHARSET "EUC-KR";

body{
	background-image:url(../images/backImg4.png);
	background-size: 100% 180%;
	height:100%;
	overflow:hidden;
}

.loginSector a {
	font-weight:bolder; 
	text-decoration: none;
}

.loginSector {
	text-align:center;
	margin : 0 auto;
	margin-top:30px;
	width:400px;
	height:400px;
	border: 1px solid #ABABAB;
	border-radius:6px;
	opacity:0.8;
}


.loginSector input[type="text"] {
	margin-top:10px;
	width:300px;
	height:30px;
	border-style: 1px #F0F0F0;
	border-radius: 5px;
	font-size:15px;
	color:rgb(130,129,128);	
}
.loginSector input[type="password"] {
	margin-top:20px;
	width:300px;
	height:30px;
	border-style: 1px #F0F0F0;
	border-radius: 5px;
	font-size:15px;
	color:rgb(130,129,128);	
}
.loginSector button {
	width:300px;
	height:40px;
	text-align:center;
	font-size:15px;
	color:rgb(255,255,255);
	background-color:#CC0000;
	border:0;
	outline:0;
}

.joinBtn{
	color:#CC0000;
	margin-right:150px;
	font-weight:bolder;
}

.findBtn{
	color:rgb(130,129,128);
	font-weight:bolder;
}

.viewlogo {
	margin-top: 10%;
	margin-botto: 30px;
}

