@CHARSET "EUC-KR";
.content {
	width: auto;
	height: auto;
	margin-top: 50px;
	align: center;
}

table {
	text-align: center;
	width: 900px;
	border: none;
}

table td{
	padding: 10px;
}

.viewlogo {
	margin-top: 30px;
}