@CHARSET "EUC-KR";
table {
	align: center;
}
table td {
	padding: 10px;
}
#searchSector {
	margin-top: 30px;
}
#resultSector {
	margin-top: 30px;
}
#resultSector tr th {
	font-size: 15px;
	text-align: center;
}
#resultSector tr td {
	text-align: center;
}

.viewlogo {
	margin-top: 30px;
}
