@CHARSET "EUC-KR";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  text-align: center;
  color: #404040;
  font-family: Consolas;
  font-size: 16px;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 4%;
  background-color: #CDCDCD;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0;
}
.container .text-muted {
  margin: 20px 0;
}